{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
       
       '@AdminWelcomeBundle/Resources/public/css/welcome.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />

    {% endstylesheets %}
{% endblock stylesheets %}

{% block body %}
    <div class="content-main">
        <div class="content">
            <div>
                <h2 class="title">ABC Management</h2>
                <img src="{{ asset('public/images/cabinet.png') }}">
            </div>
            <div>
                <div class="col-xs-12"><h4>What do you want to do?</h4></div>
                <div class="col-xs-3"></div>
                <div class="col-xs-2"><div class="option" title="View Users"><a href="{{ path('admin_user_homepage') }}"><span class="glyphicon glyphicon-user"></span></a></div></div>
                <div class="col-xs-2"><div class="option" title="View projects"><a href="{{ path('admin_project_homepage') }}"><span class="glyphicon glyphicon-briefcase"></span></a></div></div>
                <div class="col-xs-2"><div class="option" title="View assignments"><a href="{{ path('admin_project_user_homepage') }}"><span class="glyphicon glyphicon-retweet"></span></a></div></div>
                <div class="col-xs-3"></div>
            </div>
        </div>
    </div>
{% endblock %}

{# ------------   JAVASCRIPTS   -------------- #}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $('.option').tooltip();
        });
    </script>
{% endblock %}
