<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}ABC Management{% endblock %}</title>
        {% block stylesheets %}
            <!--[if gte IE 9]>
                <style type="text/css"> .gradient { filter: none; } </style>
            <![endif]-->
            <link rel="stylesheet" media="screen" href="{{ asset('public/css/bootstrap/bootstrap.css') }}" />
            <link rel="stylesheet" media="screen" href="{{ asset('public/css/bootstrap/bootstrap-theme.css') }}" />
            <link rel="stylesheet" media="screen" href="{{ asset('public/css/bootstrap/bootstrap-glyphicons.css') }}" />
            <link rel="stylesheet" media="screen" href="{{ asset('public/css/bootstrap/bootstrap-select.css') }}" />
            <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
            {#<link type="text/css" rel="stylesheet" href="{{ asset('public/css/notification/ns-default.css') }}" />
            <link type="text/css" rel="stylesheet" href="{{ asset('public/css/notification/ns-style-attached.css') }}" />
            <link type="text/css" rel="stylesheet" href="{{ asset('public/css/notification/ns-style-growl.css') }}" />
            <link type="text/css" rel="stylesheet" href="{{ asset('public/css/datatables/jquery.dataTables.css') }}" />
            <link type="text/css" rel="stylesheet" href="{{ asset('public/css/datatables/dataTables.tableTools.css') }}" />
            <link rel="stylesheet" media="screen" href="{{ asset('public/css/bootstrap/datepicker.css') }}" />
            <link type="text/css" rel="stylesheet" href="{{ asset('public/css/table-tools-custom.css') }}" />
            <link type="text/css" rel="stylesheet" href="{{ asset('public/css/hover.css') }}" />#}
            {# https://ianlunn.github.io/Hover/# #}
            
            <style type="text/css">
                html,body {
                    font-family: Arial,Helvetica,sans-serif;
                    background: #22528B;
                }

            </style>
            <link rel="stylesheet" href="{{ asset('public/css/default.css') }}" />

        {% endblock stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('public/images/favicon.ico') }}" />
    </head>
    <body>
        <div id="wrap">
            <div class="container">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

{#% block loader %}{% include '::loader.html.twig' %}{% endblock %#}

{% block javascripts %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="{{ asset('public/js/bootstrap/html5shiv.js') }}"></script>
        <script src="{{ asset('public/js/bootstrap/respond.min.js') }}"></script>
    <![endif]-->
    {#<script src="{{ asset('public/js/notification/modernizr.custom.js') }}"></script>#}{# Modernizr debe ir antes que jquery :O #}
    {# http://tympanus.net/codrops/2014/07/23/notification-styles-inspiration/ #}
    <script src="{{ asset('public/js/jquery-1.10.2.js') }}"></script>
    <script src="{{ asset('public/js/bootstrap/bootstrap.js') }}"></script>
    <script src="{{ asset('public/js/bootstrap/bootstrap-select.js') }}"></script>
    <script src="{{ asset('public/js/bootstrap/bootstrap-datepicker.js') }}"></script>
    {#<script src="{{ asset('public/js/notification/classie.js') }}"></script>
    <script src="{{ asset('public/js/notification/notificationFx.js') }}"></script>
    <script src="{{ asset('public/js/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('public/js/datatables/dataTables.responsive.js') }}"></script>
    <script src="{{ asset('public/js/datatables/dataTables.tableTools.js') }}"></script>#}
    <script>
        {#var datatable_lang = "{{ asset('public/js/datatables/lang/' ~ lang ~ '.txt') }}";
        var datatable_swf = "{{ asset('public/swf/datatables/copy_csv_xls_pdf.swf') }}";#}
    </script>  
    {#% include ':js:init.js.twig' %#}
{% endblock %}
{#{% include '::ga.html.twig' %}#}
</body>
</html>