{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {#% stylesheets
       
       '@MSFloorplanBundle/Resources/public/css/exhibitor.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />

    {% endstylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('public/css/menu.css') }}" />#}
{% endblock stylesheets %}

{% block body %}
    <div class="content-main">
        <div class="content">
            <div class="panel panel-primary">

                <div class="panel-body">
                    <div class="section-head">
                        <h2>Estados</h2>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active taba"><a href="#tab_a" data-toggle="tab">México</a></li>
                        <li class="tabb"><a href="#tab_b" data-toggle="tab">USA</a></li>
                        <li class="tabc"><a href="#tab_c" data-toggle="tab">...</a></li>
                        <li class="tabd"><a href="#tab_d" data-toggle="tab">...</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_a">
                            <table style="width:100%;" class="table-bordered table-detail">
                                <thead>
                                <th>id</th>
                                <th>nombre</th>
                                <th>abreviatura</th>
                                </thead>
                                <tbody>
                                    {% for record in content['mx']['estados'] %}
                                        <tr>
                                            <td>{{ record['id'] }}</td>
                                            <td>{{ record['nombre'] }}</td>
                                            <td>{{ record['abbr'] }}</td>
                                        </tr>
                                    {% endfor %}    
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab_b">
                            <table style="width:100%;" class="table-bordered table-detail">
                                <thead>
                                <th>id</th>
                                <th>nombre</th>
                                <th>abreviatura</th>
                                </thead>
                                <tbody>
                                    {% for record in content['us']['estados'] %}
                                        <tr>
                                            <td>{{ record['id'] }}</td>
                                            <td>{{ record['nombre'] }}</td>
                                            <td>{{ record['abbr'] }}</td>
                                        </tr>
                                    {% endfor %}    
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab_c">

                        </div>
                        <div class="tab-pane" id="tab_d">

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block loader %}{#% include '::loader.html.twig' with { visible : false } %#}{% endblock %}

{# ------------   JAVASCRIPTS   -------------- #}
{% block javascripts %}
    {{ parent() }}

    {#% javascripts 
        '@MSFloorplanBundle/Resources/public/js/exhibitor.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %#}
    {#<script type="text/javascript" src="{{ asset('public/js/sticky.js') }}"></script>#}
    <script>
        {#var url_graph_ed_ex_details = "{{ path('ms_fp_ed_ex_detalles') }}",
                images_route = "{{ asset('public/images') }}";
clientes = {{ content['clientes']|json_encode()|raw }};#}
    </script>
{% endblock %}