{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/tablefilter/tablefilter.css') }}" />

{% endblock stylesheets %}

{% block body %}
    <div class="content-main">
        <div class="content">
            <div class="panel-body">
                {% include '::menu.html.twig' with {'current':3}%}        
            </div>
            <div>
                <table class="filterable col-xs-12 table-striped" id="projectuser">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Project</th>
                            <th>Users assigned</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if projects is not empty %}
                            {% for project in projects %}

                                <tr data-id="{{ project['id'] }}" data-name="{{ project['title'] }}" class="row_{{ project['id'] }}">        
                                    <td>{{ loop.index }}</td>
                                    <td>{{ project['title'] }}</td>
                                    <td><div class="col-xs-10">{{ project['user'] }}</div><div class="col-xs-2"><a href="{{ path( 'admin_project_user_data', { 'id': project['id'] }) }}"><span class="glyphicon glyphicon-pencil"></span></a></div></td>
                                </tr>
                            {% endfor %}
                        {% else %}               
                            <tr><td colspan="3">There are no records to show</td></tr>       
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}

{% block loader %}{% endblock %}
{# ------------   JAVASCRIPTS   -------------- #}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/tablefilter/tablefilter.js') }}"></script>     
    <script>
        var tf = new TableFilter("projectuser");
        tf.init();
        $("#flt0_projectuser").replaceWith("");
    </script>
    {#% javascripts 
        '@AdminUserBundle/Resources/public/js/user.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %#}
{% endblock %}

